<div class="searchGame">
    <form action="/" method="GET">
        <div class="searchGame-form">
            <i class="fa-solid fa-file-lines" style="text-align: end; font-size: 2.6rem;text-shadow: 0 0 5px #000; padding-right: 1.2rem; border-right: 4px solid #000; border-right: 4px solid #000; box-shadow: 2px 0 0 0 #fff;"></i>
            <input type="text" name="name" value="<%= searchOptions.name %>" placeholder="Files you wanna find :>">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </form>
    <br>
    <div class="searchGame-container">
        <% games.forEach(game => { %>
            <div class="searchGame-advert">
                <a href="/games/<%= game.id %>"><img width="150" height="100" src="<%= game.coverImgPath %>"><br></a>
                <label><%= game.title %></label>
            </div>
        <% }) %>
    </div>
    <p style="text-align: center; margin-top: 3rem;">Total: <%= games.length %> Files</p>
</div>