<div class="searchUser">
    <!-- <div class="searchUser-tag">
        <h2><%= users.length %> Creators</h2>
        <h2>Search Creators</h2>
    </div> -->
    <form action="/creators" method="GET">
        <div class="searchUser-form">
            <i class="fa-regular fa-lightbulb" style="text-align: end; font-size: 2.6rem;text-shadow: 0 0 5px #000; padding-right: 1.2rem; border-right: 4px solid #000; box-shadow: 2px 0 0 0 #fff;"></i>
            <input type="text" name="name" value="<%= searchOptions.name %>" placeholder="Find any creators you want here :D">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </form>
    <br>
    <div class="searchUser-container">
        <% users.forEach(user => { %>
                <a href="/creators/<%= user.id %>" style="color: #fff; text-decoration: none;">
                    <div class="searchUser-advert">
                        <% if(user.avatar !== null) { %>
                            <img id="mainCreator-avatar" style="width: 3.4em; height: 3.4em; margin-top: 0; margin-bottom: 0;" src="<%= user.creatorAvatar %>">
                        <% } else{ %>
                            <i class="fa-regular fa-image" style="font-size: 1.4rem;border-radius: 50%; border: 2px solid; padding: 1rem;"></i>
                        <% } %>
                        <label><%= user.name %></label>
                    </div>
                </a>
                <br>
        <% }) %>
    </div>
</div>